<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service_center.description %>
</p>

<%= link_to 'Edit', edit_service_center_path(@service_center) %> |
<%= link_to 'Back', service_centers_path %>
